{{!-- <h1>
    DETAILS PAGE
</h1> --}}
{{#each obj}}
<div>
    {{title}}
</div>
<br>
<div>
    <img src="{{image_url}}" height="300" width="525" alt="titleImage">
</div>
<br>
<div>
    {{description}}
</div>
<br>
{{!-- <a href="/gallery/{{id}}/edit">EDIT ITEM</a> --}}
<form action="/gallery/{{id}}/edit">
<input type="submit" value="EDIT ITEM">
</form>
<br>
<form action="/gallery/{{id}}?_method=DELETE" method="post">
<input type="submit" value="DELETE">
</form>

{{/each}}

