<div id="loginContainer">
    Welcome {{user}}
    <a href="/auth/login" id="login">LOGIN</a> | 
    <a href="/auth/register" id="signup">SIGN UP</a>
    {{!-- <a href="/auth/logout">LOGOUT</a> --}}
    <form action="/auth/logout" method="post">
        <input type="submit" id="logout" value="LOGOUT">
    </form>

</div>
<div id="header">
     <a href="https://www.dessign.net/architekttheme/" id="headerImg" target="_blank">
     <img src="/assets/logo.jpg" alt="">
     </a>
    <div id="headerText">
        Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
    </div>
</div>
<div id="navigationBar">
    <div id="home">
        <a href="/">HOME</a>
    </div>
    <div id="about">
        <a href="https://www.dessign.net/architekttheme/about/#" target="_blank">ABOUT</a>
    </div>
    <div id="portfolio">
        <a href="https://www.dessign.net/architekttheme/category/exhibition/" target="_blank">PORTFOLIO</a>
    </div>
    <div id="blog">
        <a href="https://www.dessign.net/architekttheme/blog/" target="_blank">BLOG</a>
    </div>
    <div id="resume">
        <a href="https://www.dessign.net/architekttheme/resume/" target="_blank">RESUME</a>
    </div>
    <div id="upload">
        <a href="/gallery/new">UPLOAD</a>
    </div>
    {{!-- <div>
        <input type="search" placeholder="" id="searchBar">
    </div> --}}
    <div id="searchDiv">
        <img src="/assets/search-icon.png" alt="" id="searchIcon">
        <input type="search" placeholder="" id="searchBar">
    </div>
</div>

<div id="topImgDiv">
    <img src="/assets/sirene.jpg" alt="topImage" id="topImg">
</div>


<div id="gallery">
{{#each obj}}

    <div class="galleryImageDiv">
        <a href="/gallery/{{id}}">
        <img src="{{image_url}}" alt="" class="galleryImg">
        </a>
        <p class="galleryText">
        {{title}} - {{link}}
        </p>
    </div>

  {{/each}}
<div>
    {{fullname}}
</div>
  



<br>


